font_size 20
default_dark_mode 1
page_separator_width 5
status_bar_font_size 15
show_close_portal_in_statusbar 1
status_bar_color 0.188 0.188 0.184
visual_mark_color 0.46 0.53 0.6 0.5
show_closest_bookmark_in_statusbar 1
ui_font JetBrainsMono Nerd Font Propo
page_separator_color 0.153 0.141 0.169
dark_mode_background_color 0.153 0.141 0.169
